		body {
			background-color: #f2f2f4/*#f4f3ef;*/
		}
		.header {
			background-image: url('./img/boxhud-top.png');
			background-repeat: no-repeat;  
			background-size: 100%;
			min-height: 70px;
			width: 100%;
			margin-bottom: -20px;
		}
		.footer {
			background-image: url('./img/boxhud-bot.png');
			background-size: 100%;
			height: 80px;
			width: 100%;
		}
		.card {
			background: rgba(198,213,246,.1);
			margin-bottom: 20px;
		}
		#tempForm {
		    zoom: 0.8;
			-moz-transform: scale(0.8);
		}
		h1 {
			text-align: center;
			color: #646361;
		}
		h4 {
			color: #646361;
		}
		.col-centered{
			float: none;
			margin: 0 auto;
		}
		.pd-lr {
			padding: 0 30px 0 30px;
		}
		.btn-ktc {
			color: #c6e7f6;;
		}
		.buttonClaim {
			background-color: white;
			text-align: center;
		}
		.roundBadge {
			border-radius: 50%;
			width: 40px;
			line-height: 40px;
			border-radius: 50%;
			text-align: center;
			font-size: 25px;
			
		}
		.btn-diamond {
			color: #fff;
			font-weight: bold;
			background-color: #b9f2ff;
			border-color: #b9f2ff;
		}
		.btn-platinum {
			color: #fff;
			font-weight: bold;
			background-color: #e5e4e2;
			border-color: #e5e4e2;
		}
		.btn-gold {
			background-color: gold;
			border: 2px solid gold;
		}
		.btn-silver {
			background-color:  silver;
			border: 2px solid silver;
		}
		.btn-copper {
			background-color: #b87333;
			border: 2px solid #b87333 ;
		}
		.crossRotate {
			-webkit-transition-duration: 1s;
			-moz-transition-duration: 1s;
			-o-transition-duration: 1s;
			transition-duration: 1s;
			-webkit-transition-property: -webkit-transform;
			-moz-transition-property: -moz-transform;
			-o-transition-property: -o-transform;
			transition-property: transform;
		  outline: 0;
		}

		.crossRotate_focus {
			-webkit-transform: rotate(360deg);
			-ms-transform: rotate(360deg);
		  transform: rotate(360deg);
		}
		.whiteball {
			background-color: white;
		}
		.nav-pill-k {
			border: 1px solid #bfbfbf;
			box-shadow: 1px 1px 1px #bfbfbf;
		}
		.nav-item {
			border-radius: .3rem;
		}
		.nav-link-tab {
			border: 1px solid #bfbfbf !important;
		}
		.nav-tabs .nav-link.active {
			border-bottom: none !important;
			border-color: #dee2e6 #dee2e6 #fff;
		}
		.nav-tabs .nav-item {
			margin-bottom: -2px;
		}
		.top {
			padding: 10px 0 10px 0;
			/*border-bottom: 1px solid gray;*/
			box-shadow: 0px 2px 2px #bfbfbf;
		}
		.dashboard-container {
			border-radius: .3rem;
			border: 1px solid #bfbfbf;
			background-color: white;
			box-shadow: 0px 2px 2px #bfbfbf;
			vertical-align: middle;
			padding: 20px 20px 20px 20px;
			margin-bottom: 20px;
		}
		.mh-15{
			min-height: 155px;
		}
		.poolName {
			font-size: 1.5rem;
			color: #646361;
		}
		.poolLogo {
			width: 64px;
			height: 64px;
		}
		.networkTable {
			text-align: center;
			width: 20%;	
		}
		.nav-link {
			background-color: white;
		}
		.faq-header {
			padding: 0px;
			text-align: left;
		}
		.faq-content {
			text-align: left;
			padding: 0.5rem;
		}